@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark light;
    accent-color: mediumvioletred;
}
html,
body,
#app {
    @apply w-screen h-screen dark:text-slate-300;
}
#app {
    @apply p-4;
}
h1 {
    @apply text-4xl font-bold dark:text-slate-100;
}
#timePerNote::after {
    content: ' sec';
}
#reader {
    width: 500px;
}
button,
button[type='button'] {
    @apply bg-gradient-to-t from-sky-800 to-sky-500;
    @apply text-slate-900 dark:text-slate-200;
    @apply p-2;
    @apply rounded-sm;
}
button[disabled] {
    background-image: none;
    @apply bg-slate-500;
}
select {
    @apply p-2 w-full;
    @apply rounded-sm;
    /* width: fit-content; */
}
#display span[data-playing] {
    transition: all 0.3s;
}
#display span[data-playing='true'] {
    @apply bg-yellow-400 text-black;
    @apply px-1;
}

.anim-pulse {
    animation: pulse 0.5s alternate infinite;
}
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}
