@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark light;
    accent-color: mediumvioletred;
}
html,
body,
#app {
    @apply w-screen h-screen dark:text-slate-300;
}
#app {
    @apply p-4;
}
h1 {
    @apply text-4xl font-bold dark:text-slate-100;
}
output {
    @apply border border-dashed m-4 w-1/4 overflow-auto;
}
#reader {
    width: 500px;
}
button,
button[type='button'] {
    @apply bg-gradient-to-t from-sky-800 to-sky-500;
    @apply text-slate-900 dark:text-slate-200;
    @apply p-2;
    @apply rounded-sm;
}
select {
    @apply p-2 w-full;
    @apply rounded-sm;
    /* width: fit-content; */
}
